<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021667306916-r39uer4rmtjo8d2afhsdk7mi2k9m5l3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021667306916-r39uer4rmtjo8d2afhsdk7mi2k9m5l3s</string>
	<key>API_KEY</key>
	<string>AIzaSyClP2nse4ZPju_prDxsNIGws2of6HwfVpA</string>
	<key>GCM_SENDER_ID</key>
	<string>1021667306916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qinyuanzhang.com.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>chatchat-d90b2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-d90b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021667306916:ios:eb31580f0462d6c1</string>
	<key>DATABASE_URL</key>
	<string>https://chatchat-d90b2.firebaseio.com</string>
</dict>
</plist>